            <div class="col-4 left-col">
              <div class="row">
                <div class="col" id="search-saves">
                  {{#each workout}}
                    <h3>{{name}}</h3><br>
                    <button id="edit-exercise-{{id}}" class="my-btn small-btn">Edit</button> <button id="delete-exercise-{{id}}" class="my-btn small-btn">Delete</button>
                  <hr>
                  {{/each}}
                  <button id="new-workout" class="my-btn" type="button">New Workout</button>
                </div>
              </div>
            </div>

            <div class="col-8 right-col">
              <form name="workout_form" action="/api/add" method="POST">
              <div id="new-workout-div" class="row workout-top-row new-workout-hide">
                <div class="col my-auto">
                  <input type="text" id="workout_name" name="workout_name" class="text-input" placeholder="Workout Title" value="{{workout-name}}">
                  <button id="new-exercise" class="my-btn" type="button">Add an Exercise</button>
                </div>
              </div>
              <div id="exercise-title" class="row new-workout-hide">
                <div class="col">
                  <H2>Exercises:</H2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 exercise-col new-ex-hide" id="add-exercise">
                  <label>Exercise Name</label><input type="text" id="ex-name" name="ex-name" class="text-input-small" placeholder="Exercise Name">
                  <label>Sets</label><br>
                  <input type="text" id="ex-sets" name="ex-sets" class="text-input-small" placeholder="Number of Sets">
                  <label>Reps</label><br>
                  <input type="text" id="ex-reps" name="ex-reps" class="text-input-small" placeholder="Number of Reps">
                  <button id="new-exercise" class="my-btn" type="submit" value="submit">Add Exercise</button>
                </div>
                <div id="exercise-list">
                {{#if exercises}}
                {{#each exercise}}
                <div class="col exercise-col" id="exercise-{{id}}">
                  <span id="forecast-date-1">{{exercise-name}}</span><br>
                  <span id="forecast-date-1">{{exercise-sets}}</span><br>
                  <span id="forecast-date-1">{{exercise-reps}}</span><br>
                </div>
                {{/each}}
                {{/if}}
                </div>
              </div>
              </form>
            </div>